<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
version="4.0">



  <display-name>HOME</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>


	<servlet>
		<servlet-name>tiles</servlet-name>
		<servlet-class>org.apache.tiles.web.startup.TilesServlet</servlet-class>
		<init-param>
			<param-name>
			org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG
			</param-name>
			<param-value>
			/WEB-INF/tiles-hello.xml,/WEB-INF/tiles-service.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>TilesDispatchServlet</servlet-name>
		<servlet-class>
			org.apache.tiles.web.util.TilesDispatchServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TilesDispatchServlet</servlet-name>
		<url-pattern>*.tiles</url-pattern>
	</servlet-mapping>

  
  <servlet>
  	<servlet-name>DBCPInit</servlet-name>
  	<servlet-class>loader.DBCPInit</servlet-class>
  	
  	<init-param>
  		<param-name>jdbcdriver</param-name>
  		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
  		
  	</init-param>
	<load-on-startup>1</load-on-startup>  
  </servlet>
  
  <servlet>
  	<servlet-name>MessageDAOProvider</servlet-name>
  	<servlet-class>messagebook.MessageDAOProviderInit</servlet-class>
  	<init-param>
  		<param-name>dbms</param-name>
  		<param-value>oracle</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <jsp-config>
  	<taglib>
  		<taglib-uri>/WEB-INF/el-functions.tld</taglib-uri>	
  		<taglib-location>/WEB-INF/el-functions.tld</taglib-location>
  	</taglib>
  </jsp-config>
  
  <servlet>
  	<servlet-name>SimpleController</servlet-name>
  	<servlet-class>mvctest.SimpleController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>SimpleController</servlet-name>
  	<url-pattern>/simple</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>ControllerUsingFile</servlet-name>
  	<servlet-class>mvctest.ControllerUsingFile</servlet-class>
  	
  	<init-param>
  		<param-name>configFile</param-name>
  		<param-value>/WEB-INF/commandHandler.properties</param-value>
  	
  	</init-param>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>ControllerUsingFile</servlet-name>
  	<url-pattern>/controllerUsingFile</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>ControllerUsingURI</servlet-name>
  	<servlet-class>mvctest.ControllerUsingURI2</servlet-class>
  	<init-param>
  		<param-name>configFile2</param-name>
  		<param-value>/WEB-INF/commandHandlerURI.properties</param-value>
  	</init-param>
  </servlet>
  	
 	<servlet-mapping>
 		<servlet-name>ControllerUsingURI</servlet-name>
 		<url-pattern>*.do</url-pattern>
 	</servlet-mapping>
 	
  	
  	
  
  
  
  
  
</web-app>